.idea/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.txt12
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
gms-*/*.iml
gms-*/*.csv
gms-*/.DS_Store
gms-*/target/*
gms-*/*.swp
gms-*/target
gms-*/.project
gms-*/.classpath
gms-*/.settings
gms-*/*.log
gms-*/image_upload_error_logs
*.key
gms-in/src/main/webapp/Files
~*.doc
*.pdb
dependency-reduced-pom.xml
